<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- =======================================================================
    = APPENDERS
    ======================================================================== -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{dd/MM HH:mm:ss}]|%logger|%-5level|%thread|%msg\n</pattern>
        </encoder>
    </appender>


    <!-- =======================================================================
    = LOGGERS LEVELS
    ======================================================================== -->
    <logger name="org.eclipse.jgit" level="INFO" additivity="false" />



    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>